.information__imagem-progesso{
    text-align: center;
}

.card__title{
    font-family: var(--poppins);
    font-size: 43px;
    color: var(--jungle-green);
}

.information__profilephoto{
    display: flex;
    
    flex-direction: column;
    align-items: center;
}

.information__info{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 64.35rem;
    height: 51rem;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    border-radius: 24px;
}

.information__imagem-progesso{
    padding: 15px;
}

.information__info-p{
    font-size: 43px;
    font-family: var(--poppins);
    color: var(--jungle-green);
    margin-top: 7.2px;
    margin-bottom: 7.2px;
}

.information__border{
    width: 64.35rem;
    height: 0.525rem;
    border-radius: 24px;
    background-color: var(--jungle-green);
}

.information__info-p2{
    font-size: 18px;
    font-weight: 700;
    font-family: var(--nunito);
    color: var(--jungle-green);
}

.container__inputs{
        width: 47.85rem;
        
}

.container__titulo{
    width: 100%;
    border-bottom: 1px solid var(--french-gray);
    font-size: 20px;
    color: var(--french-gray);
    font-family: var(--poppins);
    margin-top: 40px;
    margin-bottom: 0;
}



.information__border2{
    margin-top: -20px;
    width: 812px;
    height: 10px;
    border: 1px solid var(--french-gray) ;
}

.box2{
    display: flex;
    font-size: 18px;
    font-family: var(--nunito);
    color: var(--brunswick-green);

}
.box2 span{
    color: var(--safity-orange);
}

.input__data1{
    display: flex;
}

.input__data2{
    display: flex;
}

.boxes{
    margin-right: 15px;
}

.information__checkbox{
    margin-top: 40px;
}


.information__buttons{
    display: inherit;
    justify-content: space-between;
    margin-top: 50px;
    width: 95%;
}

.asterisk{
    color: var(--safity-orange);
    font-size: 18px;
}