.searchbar{
    display: flex;
}

.searchbar__input{
    display: flex;
    height: 2.438rem;
    width: 21.875rem;   
    padding: 5px 10px;
    font-family: var(--nunito);
    font-size: 16px;
    outline: none;
    cursor: pointer;
    border-radius: 8px 0 0 8px;
    border: 1.2px solid var(--french-gray);
}

 .searchbar__magnifying-container{
    background-color: var(--zomp);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 8px 8px 0px;
    width: 60px;
    height: 100%px;
    cursor: pointer;
 }
