/* Container principal do carrossel */
.carousel-container {
  position: relative;
  width: 731px;
  height: 762px;
  margin: auto;
  overflow: hidden;
  background-color: red;
}

/* Container das imagens do carrossel */
.carousel-images {
  position: relative;
  width: 545px;
  height: 762px;
  margin: auto;
}

.carousel-image {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  background-position: center;
  transition: opacity 0.5s ease-in-out; /* Transição suave de opacidade */
  opacity: 0; /* Imagem invisível por padrão */
}

/* Imagem ativa (visível) */
.carousel-image.active {
  opacity: 1;
}

/* Controles de navegação (radio buttons) */
.carousel-controls {
  text-align: center;
  margin-top: 10px;
}

/* Estilo dos radio buttons */
.carousel-controls input[type="radio"] {
  appearance: none;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: #ccc;
  cursor: pointer;
  margin: 0 5px;
}

/* Estilo do radio button selecionado */
.carousel-controls input[type="radio"]:checked {
  background-color: #000;
}

/* Botões de navegação (avançar e voltar) */
.arrow_carousel_left{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  cursor: pointer;
  z-index: 1;
}

.arrow_carousel_right{
  position: absolute;
  top: 50%;
  border: none;
  cursor: pointer;
  z-index: 1;
}