@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  /* Default Mangoo's colors */
  --caribbean-current: #036C66;
  --zomp: #17AC91;
  --aquamarine: #06E19F;
  --jungle-green: #25B290;
  --brunswick-green: #004741;
  --safity-orange:#E87E31;
  --sandy-brown: #FF9548;
  --bittersweet: #F36161;
  --baby-powder: #FFFFFA;
  --silver: #BCBEBA;

  /* Light mode colors*/
  --jet: #333138;
  --french-gray: #B9B7BE;
  --anti-flash-white: #F1F1F1;

  /*Dark mode colors*/
  --gunmetal: #242A35;
  --raisin-black: #1C222C;

  /*Mangoo fonts*/
  --poppins: "Poppins", sans-serif;
  --nunito: "Nunito", sans-serif;
}

.title{
  font-family: var(--poppins);
  font-weight: 400;
  font-size: 20px;
}

.paragraph{
  font-family: var(--nunito);
}

.something{
  text-align: center;
  /* display: flex;
  justify-content: space-evenly; */
}

/* This settings bellow are to reduce browser inconsistences. Do not change! */
html, body{
  background-color: var(--anti-flash-white);
  margin: 0;
    padding: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}