.page__teacher{
    display: flex;
    flex-direction: line;
    transform: translate(172px, 120px);
    align-items: center;
}

.intro__teacher{
    width: 731px;
    height: 763px;
    margin-bottom: 70px; /*Better box view*/
}

.space__teacher{
    padding-left: 152px;
}

.teacher__card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 710px;
    background-color: rgb(255, 255, 255);
    border-radius: 24px;
}

.logo__card__teacher{
    margin-top: 13px;
    margin-bottom: -10px;
    background-color: rgb(255, 255, 255);
}

.titulo__card__teacher{
    font-family: var(--poppins);
    color: var(--jungle-green);
    font-size: 36px;
    margin-top: 7.2px;
    margin-bottom: 7.2px;
}

.div__line__teacher{
    width: 710px;
    height: 0.525rem;
    border-radius: 24px;
    background-color: var(--jungle-green);
}

.container__inputs__teacher{
    background-color: rgb(255, 255, 255);
    width: 400px;
}

.password__text__teacher{
    font-family: var(--nunito);
    font-size: 14px;
    font-weight: 700;
    color: var(--jungle-green);
    background-color:rgb(255, 255, 255);
    cursor: pointer;
    margin-bottom: 0;
    margin-top: 10px;
}

.buttons__teacher{
    display: inherit;
    justify-content: center;
    width: 95%;
    margin-top: 50px;
    background-color: rgb(255, 255, 255);
    margin-top: 19px;
    margin-bottom: 7px;
}

.subtitle__text__teacher{
    font-family: var(--nunito);
    font-size: 18px;
    color: var(--caribbean-current);
    margin-bottom: 7px;
}

.footer__text__teacher{
    font-family: var(--nunito);
    font-size: 14px;
    font-weight: 700;
    color: var(--jungle-green);
    background-color:rgb(255, 255, 255);
    margin-top: 0px;
    margin-bottom: 30px;
    cursor: pointer;
}

.asterisk{
    color: var(--safity-orange);
    font-size: 18px;
}