.botao__padrao{
    font-family: var(--nunito);
    margin: 0.5em;
    font-weight: 700;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    padding: 10px 0;
    width: 135px;
    background-color: var(--jungle-green) ;
    color: var(--baby-powder);
}

.botao__padrao-extra
{
    font-family: var(--nunito);
    font-weight: 700;
    font-size: 18px;
    width: 135px;
    border-radius: 8px;
    border: none;
    padding: 10px 0;
    background-color: var(--jungle-green) ;
    color: var(--baby-powder);
}


