.teacher__mission__container{
    margin-top: 20px;
    margin-left: 365px;
    margin-bottom: 20px;
    width: 95.875rem;
    
    border-radius: 24px;
    background-color: rgb(255, 255, 255);
    padding-left: 90px;
    padding-top: 45px;
    padding-bottom: 45px
}

.teacher__mission__title{
    font-family: var(--poppins);
    color: var(--brunswick-green);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.teacher__mission__subtitle{
    font-family: var(--poppins);
    color: var(--brunswick-green);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
}

.teacher__mission__line{
    width: 1089.074px;
    height: 1.2px;
    background-color: var(--safity-orange);
    
}

.mission__dados__titulo{
    border-bottom: 1px solid var(--french-gray);
    font-size: 20px;
    color: var(--french-gray);
    font-family: var(--poppins);
    width: 50%;

}

.input__data{
    display: flex;
}
.boxes{
    margin-right: 15px;
}

.mission__dados__text{
    font-family: var(--nunito);
    font-weight: 400;
    font-size: 18px;
    /* cor diferente das telas anteriores */
    color: var(--brunswick-green);
    margin-top:18px;
    margin-bottom:18px;
}
.mission__dados__text__checkbox{
    font-family: var(--nunito);
    font-weight: 500;
    font-size: 18px;
    color: var(--brunswick-green);
}

.mission__dados__checkbox{
    display: flex;
}

.mission__text__area{
    width: 968px;
    height: 158;
    border-radius: 8px;
}

.mission__buttons{
    display: flex;
    justify-content: space-between;
    align-self: self-end;
    margin-top: 50px;
    width: 95%;
}
