.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 70%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-box {
    background-color: rgb(255, 255, 255);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    border-radius: 30px;
    width: 850px;
    height: 793px;
}

.modal-header{
    text-align: right;
    background-color: rgb(255, 255, 255);
    padding-bottom: 5px;
}

.modal-body{
    width: 850px;
    height: 660px;
    background-color: rgb(255, 255, 255);
}

.modal-footer{
    display: flex;
    flex-direction: line;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}

.image-container{
    display: flex;
    justify-content: center;
}

.modal-text1-modal4{
    transform: translate(0px, -300px);
    padding-left: 25%;
    padding-right: 25%;
    font-size: 30px;
    text-align: center;
    color: var(--caribbean-current);
    font-weight: 700;
    font-family: var(--nunito);
}

.image-container2{
    padding-left: 20px;
    padding-right: 20px;
}
